# Miscellaneous
.DS_Store
.idea/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins-dependencies
/build/

# Android / Gradle
/android/.gradle/
/android/local.properties
/android/key.properties
**/*.keystore
**/*.jks

# iOS / Xcode
**/Pods/
**/*.xcuserdata/
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig

pubspec.lock
analysis_options.yaml
.metadata